<h1 class="page-name">{{ pageName }}</h1>
    <br><br>
    <div class="students-list">
       <div class="row">
           <div class="form-group col-6">
               <input type="text" class="form-control" name="search" ng-model="search.first_name" placeholder="search">
           </div>
           <div class="form-group col-6">
               <select class="form-control" id="filter" name="stdSort" ng-model="sortValue" ng-change="doSort(sortValue)">
                   <option value="" selected>Sort by:</option>
                   <option value="first_name">First name</option>
                   <option value="last_name">Last name</option>
                   <option value="email">Email</option>
                   <option value="address">Address</option>
               </select>
           </div>
       </div>
        <br>
        <ul class="list-group">
            <a class="list-group-item"  ng-repeat="student in students_list | filter: search | orderBy:sortBy" href="#/students-list/{{ student.id }}">
                <li class="list-type">
                    {{ student.first_name  +' '+ student.last_name }}
                </li>
            </a>
        </ul>
    </div>